#template_container a.thumbnail span {
	margin: 0 !important;
	padding: 0 !important;
	display: block;
	text-align: center;
	background-color: #0170A8;
	padding: 10px 0;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
	line-height: 40px;
	color: #fff !important;
	font-weight: 300;
	transition: all 0.5s ease;
} 

#template_container .col.s12.l3 {
	border: 1px solid #7DC5E9;
	border-radius: 3px;
}

#template_container a.thumbnail img {
	display: block;
	margin: 0 auto;
}

#template_container .col {
	overflow: hidden;
	position: relative;
	transition: all 0.5s ease;
}

#template_container .col.s12.l3:hover {
	border-color: #F49636;
}

#template_container a.thumbnail span:hover,
#template_container .col.s12.l3:hover span {
	background-color: #F49636;
}

a.button-collapse.top-nav {
	left: 88%;
	top: 4%;
	border-radius: 5px;
}

#options table td a {
	padding: 0 10px;
}

#options table td a:hover {
	color: #43D2F9;
}

#options table td b {
	display: inline-block;
	min-width: 60px;
}

.editor-page #textcat-select li,
.editor-page #cat-select li {
	min-height: 0;
	padding: 5px;
	margin-bottom: 0 !important;
}

.editor-page a#upload_image {
	margin: 0 20px 20px !important;
	display: block;
}

.editor-page ul#catimage_container li {
	margin-bottom: 0 !important;
}

	.editor-page #template_container .col {
	    height: auto !important;
	    margin: 1%;
	    width: 48%;
	}

	.editor-page #template_container a.thumbnail span {
		height: auto;
		line-height: normal;
		font-weight: 500 !important;
		padding-top: 10px;
}

@media screen and (min-width: 768px) {
#template_container .col {
		width: 23%;
		margin: 1%;
	}
}

@media screen and (max-width: 768px) {
	#template_container .col.s12.l3 {
		margin-bottom: 4%;
	}

	.editor-page #template_container .col,
	.editor-page ul#background_container li,
	.editor-page ul#catimage_container li {
		width: 100%;
	}

	.editor-page a#upload_image {
		height: 100%;
		line-height: normal;
		padding: 8px 0;
	}

	.editor-page .collapsible-header {
		line-height: normal;
	}

	.editor-page .dropdown-button.btn {
		left: 0;
		width: 100%;
		padding-left: 0;
	}

}

@media screen and (max-width: 500px) {
	a.button-collapse.top-nav {
		left: 80%;
	}
}